.container{

    /* background-color: gray; */

    margin: auto;
    margin-top: 30px;
    width: 700px;
}
.expense-items-container{
margin-top: 20px;
overflow: auto;
    background-color: var(--dark-secondary);
    padding : 27px;
    border-radius: 10px;
}

/* .expense-Container{
    background-color: var(--light-primary);
} */

