
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');


:root{
    --dark-secondary: #05445E;
    --dark-primary: #189ABA;
    --light-primary:#75E6DA;
    --light-secondary:#D4F1FA;
}
*{

    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}
body{
background-color: white;

}