
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

*{
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

}
body{
 
  display:flex; 
  justify-content:center;
  align-items:center;
  width:100%;
  height:100vh;

}

:root{

  --primary-color:#0e0e10;
--secondary-color:rgba(34,36,39,0.9);
--orange-color:#FF9500;
--padding-inline:20px;

}

.container-cal{

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
row-gap: 5px;
width: 300px;
height: 550px;
border-radius: 40px;
background-color: var(--primary-color);
  
}
.input-div{
  width:100%;
  color:white;
  text-align: right;
padding-right: 5px;

}
.output-div{
  width:100%;
  text-align: right;
  color:#2EC872;
  padding-right: 5px;
}
.inout{
  font-size: 1.8rem;
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
justify-content: space-evenly;
  row-gap: 5px;
}
.btns{
  display: grid;
 width:90%;
  gap: 10px;
  align-items: center;
  justify-items: center;
  height: 50%;
  grid-template-areas: "bt1 bt2 bt2 bt3"
                        "bt4 bt5 bt6 bt7"
                        "bt8 bt9 bt10 bt11"
                        "bt12 bt13 bt14 bt15"
                        "bt16 bt16 bt17 bt18"
  ;

}
.btn{
  width:90%;
  font-size: 1.5rem!important;
border-radius: 30%!important;
border: 0.1px solid rgb(158, 150, 150)!important;
padding: 10px ;
 background-color: var(--secondary-color)!important;
}

.btn:hover{

box-shadow: 2px 2px 5px rgb(200, 190, 190);
}


.btn1{
  grid-area: bt1;
}

.btn2{
  border-radius: 20%!important;
color:rgb(220, 12, 12)!important;
   grid-area: bt2;
   border: 0.1px solid rgb(220, 12, 12)!important;
}
.btn2:hover{
  box-shadow: 2px 2px 5px  rgb(220, 12, 12)!important;
}
.btn3{
  grid-area: bt3;
  background-color: var(--orange-color)!important;
}


.btn4{
  grid-area: bt4;
}
.btn5{
  grid-area: bt5;
}
.btn6{
  grid-area: bt6;
}
.btn7{
  grid-area: bt7;
  background-color: var(--orange-color)!important;
}
.btn8{
  grid-area: bt8;
}
.btn9{
  grid-area: bt9;
}
.btn10{
  grid-area: bt10;
}
.btn11{
  grid-area: bt11;
  background-color: var(--orange-color)!important;
}

.btn12{
  grid-area: bt12;
}
.btn13{
  grid-area: bt13;
}
.btn14{
  grid-area: bt14;
}
.btn15{
  grid-area: bt15;
  background-color: var(--orange-color)!important;

}
.btn16 {
  grid-area: bt16;
  border-radius: 20%!important;
}

.btn17{
  grid-area: bt17;
}
.btn18
{background-color: #2EC872!important;
  border: 0.1px solid #074b25!important;
  grid-area: bt18;
}
.btn18:hover
{
box-shadow: 2px 2px 5px #066b32;
}