form{
    
    
}
.div{
    border-radius: 10px;
    background-color: var(--light-primary);

}
.expense-form{
padding: 20px;
    display: flex;
    flex-wrap: wrap;
gap:1.5rem;
justify-content: start;


}

.row label{
    display : block;
    font-size: 1.5rem;
margin-bottom: 0.5rem;
    /* color:red; */
}
.row input{
font-size: 1.5rem;
    width: 300px;
    border-radius: 6px;
    padding:5px;
}
.add-expense-btn{

    text-align: right;
}
.add-expense-btn button{
    font-size: 1.2rem;
    color: white;
    border-radius: 10px;
    background-color: var(--dark-secondary);
    padding: 10px 30px;
    margin-right: 60px;
    margin-bottom: 20px;
}
.add-expense-btn button:hover{
    box-shadow: 2px 2px 8px var(--dark-secondary);
}
.date{

    justify-self: start;
}
.second-btn{
    
    text-align: center;
}
.second-btn button{
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}